@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-size: clamp(0.8rem, -0.875rem + 8.333vw, 1rem);
}

@media screen and (width < 768px) {
  html,
  body {
    scrollbar-width: none;
  }
}
